[user]
    name = Comevius
    email = comevius@gmail.com
    signingkey = 9C136CCD403C0F28

[github]
    user = Comevius

[core]
    editor = nano
    autocrlf = input
    quotepath = false
    commentchar = ";"

[push]
    default = current

[color]
    ui = true

[alias]
    tree = log --oneline --decorate --graph

[commit]
    gpgsign = true
