[commit]
    gpgsign = true
    verbose = true

[core]
    editor = helix
    autocrlf = input

[push]
    default = current

[pull]
    rebase = true
    
[rebase]
    autosquash = true
    
[fetch]
    prune = true

[alias]
    tree = log --oneline --decorate --graph

[init]
	defaultBranch = trunk
